<div class="h-screen w-full flex overflow-hidden select-none">
  <nav class="w-24 flex flex-col items-center bg-white dark:bg-gray-800 py-4">
    <!-- Left side NavBar -->

    <div>
      <!-- App Logo -->

      <svg
        class="h-8 w-8 fill-current text-blue-600 dark:text-blue-300"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 3L1 9l4 2.18v6L12 21l7-3.82v-6l2-1.09V17h2V9L12 3m6.82
					6L12 12.72 5.18 9 12 5.28 18.82 9M17 16l-5 2.72L7 16v-3.73L12
					15l5-2.73V16z"
        ></path>
      </svg>
    </div>

    <ul class="mt-2 text-gray-700 dark:text-gray-400 capitalize">
      <!-- Links -->

      <li class="mt-3 p-2 text-blue-600 dark:text-blue-300 rounded-lg">
        <a href="#" class="flex flex-col items-center">
          <img src="assets/icons/home-50.png" alt="" class="w-7">
          
          <span class="text-xs mt-2">Inicio</span>
        </a>
      </li>

      <li
        class="mt-3 p-2 hover:text-blue-600 dark-hover:text-blue-300 rounded-lg"
      >
        <a href="#" class="flex flex-col items-center">
          <img src="assets/icons/add-new-50.png" alt="" class="w-7">
          
          
          <span class="text-xs mt-2">Crear</span>
        </a>
      </li>

      <li
        class="mt-3 p-2 hover:text-blue-600 dark-hover:text-blue-300 rounded-lg"
      >
        <a href="#" class="flex flex-col items-center">
          <img src="assets/icons/upload-document-50.png" alt="" class="w-7">
          
          <span class="text-xs mt-2">Documentos</span>
        </a>
      </li>

      <li
        class="mt-3 p-2 hover:text-blue-600 dark-hover:text-blue-300 rounded-lg"
      >
        <a href="#" class="flex flex-col items-center">
          <img src="assets/icons/bar-chart-50.png" alt="" class="w-7">
          
          <span class="text-xs mt-2">Reporte</span>
        </a>
      </li>

      <li
        class="mt-3 p-2 hover:text-blue-600 dark-hover:text-blue-300 rounded-lg"
      >
        <a href="#" class="flex flex-col items-center">
          <img src="assets/icons/calendar-50.png" alt="" class="w-7">
          
          <span class="text-xs mt-2">Calendario</span>
        </a>
      </li>

      <li class="mt-3 p-2 hover:text-blue-600 rounded-lg">
        <a href="#" class="flex flex-col items-center">
          <img src="assets/icons/settings-50.png" alt="" class="w-7">
          
          <span class="text-xs mt-2">Configuración</span>
        </a>
      </li>
    </ul>

    <div
      class="mt-auto flex items-center p-2 text-blue-700 bg-purple-200 dark:text-blue-500 rounded-full"
    >
      <!-- important action -->

      <a href="#">
        <svg class="fill-current h-5 w-5" viewBox="0 0 24 24">
          <path
            d="M12 1c-5 0-9 4-9 9v7a3 3 0 003 3h3v-8H5v-2a7 7 0 017-7
						7 7 0 017 7v2h-4v8h4v1h-7v2h6a3 3 0
						003-3V10c0-5-4.03-9-9-9z"
          ></path>
        </svg>
      </a>
    </div>
  </nav>
  <main
    class="my-1 pt-2 pb-2 px-10 flex-1 bg-gray-200 dark:bg-black rounded-l-lg transition duration-500 ease-in-out overflow-y-auto"
  >
    <div class="flex flex-col capitalize text-3xl">
      <span class="font-normal">{{ saludo }},</span>
      <span class="font-semibold">{{ userActive }}!</span>
    </div>
    <div class="flex">
      <div
        class="mr-6 w-1/2 mt-8 py-2 flex-shrink-0 flex flex-col bg-white dark:bg-gray-600 rounded-lg"
      >
        <!-- Card list container -->

        <h3
          class="flex items-center pt-1 pb-1 px-8 text-lg font-semibold capitalize dark:text-gray-300"
        >
          <!-- Header -->
          <span>Asignaciones recientes</span>
          <button class="ml-2">
            <svg class="h-5 w-5 fill-current" viewBox="0 0 256 512">
              <path
                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9
								0l-22.6-22.6c-9.4-9.4-9.4-24.6
								0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6
								0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136
								136c9.5 9.4 9.5 24.6.1 34z"
              ></path>
            </svg>
          </button>
        </h3>

        <div>
          <!-- List -->

          <ul class="pt-1 pb-2 px-3 overflow-y-auto">
            <li class="mt-2">
              <a
                class="p-5 flex flex-col justify-between bg-gray-100 dark:bg-gray-200 rounded-lg"
                href="#"
              >
                <div
                  class="flex items-center justify-between font-semibold capitalize dark:text-gray-700"
                >
                  <!-- Top section -->

                  <span>Información pública de oficio</span>

                  <div class="flex items-center">
                    <svg
                      class="h-5 w-5 fill-current mr-1 text-gray-600"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M14 12l-4-4v3H2v2h8v3m12-4a10
												10 0 01-19.54 3h2.13a8 8 0
												100-6H2.46A10 10 0 0122 12z"
                      ></path>
                    </svg>
                    <span>Atender</span>
                  </div>
                </div>

                <p class="text-sm font-medium leading-snug text-gray-600 my-3">
                  <!-- Middle section -->
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Explicabo assumenda porro sapiente, cum nobis tempore delectus
                  consectetur ullam reprehenderit quis ducimus, iusto dolor nam
                  corporis id perspiciatis consequuntur saepe excepturi.
                </p>

                <div class="flex justify-between">
                  <!-- Bottom section -->

                  <div class="flex">
                    <img
                      class="h-6 w-6 rounded-full mr-3"
                      src="https://iconos8.es/icon/LT4JwFbNOaey/usuario-masculino"
                      alt=""
                    />
                    <span>
                      <span class="text-blue-500 font-semibold">
                        María Torres
                      </span>
                      via formulario
                    </span>
                  </div>

                  <p class="text-sm font-medium leading-snug text-gray-600">
                    Hace 30 minutos
                  </p>
                </div>
              </a>
            </li>
            <li class="mt-2">
              <a
                class="p-5 flex flex-col justify-between bg-gray-100 dark:bg-gray-200 rounded-lg"
                href="#"
              >
                <div
                  class="flex items-center justify-between font-semibold capitalize dark:text-gray-700"
                >
                  <!-- Top section -->

                  <span>Informaciones varias</span>

                  <div class="flex items-center">
                    <svg
                      class="h-5 w-5 fill-current mr-1 text-gray-600"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M14 12l-4-4v3H2v2h8v3m12-4a10
												10 0 01-19.54 3h2.13a8 8 0
												100-6H2.46A10 10 0 0122 12z"
                      ></path>
                    </svg>
                    <span>Atender</span>
                  </div>
                </div>

                <p class="text-sm font-medium leading-snug text-gray-600 my-3">
                  <!-- Middle section -->
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Explicabo assumenda porro sapiente, cum nobis tempore delectus
                  consectetur ullam reprehenderit quis ducimus, iusto dolor nam
                  corporis id perspiciatis consequuntur saepe excepturi.
                </p>

                <div class="flex justify-between">
                  <!-- Bottom section -->

                  <div class="flex">
                    <img
                      class="h-6 w-6 rounded-full mr-3"
                      src="https://iconos8.es/icon/18OYYGxvndG5/usuario-femenino"
                      alt="Issue"
                    />
                    <span>
                      <span class="text-blue-500 font-semibold">
                        Carlos Gutierrez
                      </span>
                      via solicitud
                    </span>
                  </div>

                  <p class="text-sm font-medium leading-snug text-gray-600">
                    Hace 3 horas
                  </p>
                </div>
              </a>
            </li>
          </ul>

          <a
            href="#"
            class="flex justify-center capitalize text-blue-500 dark:text-blue-200"
          >
            <span>Ver todo</span>
          </a>
        </div>
      </div>

      <div
        class="mr-6 w-1/2 mt-8 py-2 flex-shrink-0 flex flex-col bg-purple-300 rounded-lg text-white"
      >
        <h3
          class="flex items-center pt-1 pb-1 px-8 text-lg font-bold capitalize"
        >
          <!-- Header -->
          <span>Título 1</span>
          <button class="ml-2">
            <svg class="h-5 w-5 fill-current" viewBox="0 0 256 512">
              <path
                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9
								0l-22.6-22.6c-9.4-9.4-9.4-24.6
								0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6
								0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136
								136c9.5 9.4 9.5 24.6.1 34z"
              ></path>
            </svg>
          </button>
        </h3>

        <div class="flex flex-col items-center mt-12">
          <img
            class="w-60"
            src="assets/branding/img01.png"
            alt=" empty schedule"
          />

          <span class="font-bold mt-8">Herramientas de información</span>

          <span class="text-purple-500">
            Tips informativo de información pública
          </span>

          <button class="mt-8 bg-purple-800 rounded-lg py-2 px-4">
            Entrar
          </button>
        </div>
      </div>
    </div>
  </main>

  <aside
    class="w-1/4 my-1 mr-1 px-6 py-4 flex flex-col bg-gray-200 dark:bg-black dark:text-gray-400 rounded-r-lg overflow-y-auto"
  >
    <!-- Right side NavBar -->

    <div class="flex items-center justify-between">
      <!-- Info -->

      <a href="#" class="relative">
        <!-- Left side -->

        <span>
          <svg
            class="h-5 w-5 hover:text-red-600 dark-hover:text-red-400"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
            <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
          </svg>
        </span>

        <div class="absolute w-2 h-2 left-0 mb-6 ml-2 bottom-0">
          <span class="px-2 py-1 bg-red-600 rounded-full text-white text-xs">
            7
          </span>
        </div>
      </a>

      <div class="flex items-center">
        <!-- Right side -->

        <img
          class="h-10 w-10 rounded-full object-cover"
          src="https://i.pinimg.com/originals/68/e1/e1/68e1e137959d363f172dc3cc50904669.jpg"
          alt="tempest profile"
        />

        <button class="ml-1 focus:outline-none">
          <svg class="h-4 w-4 fill-current" viewBox="0 0 192 512">
            <path
              d="M96 184c39.8 0 72 32.2 72 72s-32.2 72-72
							72-72-32.2-72-72 32.2-72 72-72zM24 80c0 39.8 32.2 72
							72 72s72-32.2 72-72S135.8 8 96 8 24 40.2 24 80zm0
							352c0 39.8 32.2 72 72 72s72-32.2
							72-72-32.2-72-72-72-72 32.2-72 72z"
            ></path>
          </svg>
        </button>
      </div>
    </div>

    <button
      class="mt-8 flex items-center py-4 px-3 text-white rounded-lg bg-green-400 shadow focus:outline-none"
    >
      <!-- Action -->

      <svg class="h-5 w-5 fill-current mr-2 ml-3" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
      </svg>

      <span>Registrar solicitud</span>
    </button>

    <div class="mt-12 flex items-center">
      <!-- Información -->
      <span>Solicitudes por vencer</span>
      <button class="ml-2 focus:outline-none">
        <svg class="h-5 w-5 fill-current" viewBox="0 0 256 512">
          <path
            d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9
						0l-22.6-22.6c-9.4-9.4-9.4-24.6
						0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3
						103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1
						34z"
          ></path>
        </svg>
      </button>
    </div>

    <a
      href="#"
      class="mt-8 p-4 flex justify-between bg-gray-300 rounded-lg font-semibold"
    >
      <!-- link -->

      <div class="flex">
        <img
          class="h-10 w-10 rounded-full object-cover"
          src=""
          alt=""
        />

        <div class="flex flex-col ml-4">
          <span>María Torres</span>
          <span class="text-sm text-gray-600">Información de oficio</span>
        </div>
      </div>

      <div class="flex flex-col ml-4">
        <span class="font-normal">vence 6 h</span>
        <span class="font-bold">En progreso</span>
      </div>
    </a>

    <a
      href="#"
      class="mt-2 p-4 flex justify-between bg-gray-300 rounded-lg font-semibold"
    >
      <!-- link -->

      <div class="flex">
        <img
          class="h-10 w-10 rounded-full object-cover"
          src=""
          alt=""
        />

        <div class="flex flex-col ml-4">
          <span>Carlos Gutierrez</span>
          <span class="text-sm text-gray-600">Información varias</span>
        </div>
      </div>

      <div class="flex flex-col ml-4">
        <span class="font-normal">vence 1 día</span>
        <span class="font-bold">Pendiente</span>
      </div>
    </a>

    <a
      href="#"
      class="mt-2 p-4 flex justify-between bg-gray-300 rounded-lg font-semibold"
    >
      <!-- link -->

      <div class="flex">
        <img class="h-10 w-10 rounded-full object-cover" src="" alt="" />

        <div class="flex flex-col ml-4">
          <span>Juan Perez</span>
          <span class="text-sm text-gray-600">Información de oficio</span>
        </div>
      </div>

      <div class="flex flex-col ml-4">
        <span class="font-normal">vence 3 días</span>
        <span class="font-bold">No atendido</span>
      </div>
    </a>

    <div class="mt-4 flex justify-center capitalize text-blue-600">
      <a href="#">Ver todo</a>
    </div>
  </aside>
</div>
