<div class="flex items-center">
  <!-- Right side -->
  <img
    class="h-10 w-10 rounded-full object-cover"
    src="https://i.pinimg.com/originals/68/e1/e1/68e1e137959d363f172dc3cc50904669.jpg"
    alt="tempest profile"
  />

  <button class="ml-1 focus:outline-none" (click)="toggleOptions()">
    <svg class="h-4 w-4 fill-current" viewBox="0 0 192 512">
      <path
        d="M96 184c39.8 0 72 32.2 72 72s-32.2 72-72
                            72-72-32.2-72-72 32.2-72 72-72zM24 80c0 39.8 32.2 72
                            72 72s72-32.2 72-72S135.8 8 96 8 24 40.2 24 80zm0
                            352c0 39.8 32.2 72 72 72s72-32.2
                            72-72-32.2-72-72-72-72 32.2-72 72z"
      ></path>
    </svg>
  </button>
  @if (this.showOptions) {
  <div class="flow-root">
    <ul class="-my-2 divide-y divide-gray-100">
      <li class="py-2">
        <ul class="space-y-1">
          <li>
            <a
              href=""
              class="block rounded-lg bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700"
            >
              Perfil
            </a>
          </li>

          <li>
            <a
              href=""
              class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
            >
              Help
            </a>
          </li>
        </ul>
      </li>

      <li class="py-2">
        <button
          (click)="logout()"
          class="block w-full rounded-lg px-4 py-2 text-sm font-medium text-gray-500 [text-align:_inherit] hover:bg-gray-100 hover:text-gray-700"
        >
          Logout
        </button>
      </li>
    </ul>
  </div>
  }
</div>
